<ion-content class="ion-padding" [fullscreen]="true">
  <div id="container">
    <ion-button class="ion-text-capitalize top-safe-area" color="warning" (click)="loadPokemons()">
      Load Pokémons
    </ion-button>

    <ion-list class="default-background-color">
      <ion-item *ngFor="let pokemonItem of pokemonList" (click)="navigateDetail(pokemonItem)">
        <ion-label class="ion-text-capitalize">{{ pokemonItem.name }}</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <div class="fixed-bottom ion-padding">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png" alt="pokemon">
    </div>
  </div>
</ion-content>
